# dependencies
node_modules/

# build files
.nuxt/
.output/
.claude/
.husky/
dist/

# logs
*.log

# env files
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# npm
package-lock.json

# optional (agar pnpm/yarn ishlatsang)
pnpm-lock.yaml
yarn.lock